/* style for footer */
.footer{
    height: auto;
    background-color: rgba(15, 15, 15, 0.8);
    color: white;
    padding: 50px 80px 50px 80px;
}
.myname{
    text-align: center;
    letter-spacing: 1px;
    font-size: 1.75rem;
    font-weight: 900;  
}
.footer-nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 15px;
    line-height: 22px;
}
.footer-nav li a{
    color: rgb(119, 0, 255);
    text-decoration: none;
    transition: 0.15s;
}
.footer-nav li a:active{
    color: rgb(255, 140, 0);
}
.footer-description{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
}
.social-icons{
    display: flex;
    justify-content: center;
}
.social-icons a{
    font-size: 1.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    margin: 5px;
    color: black;
    text-decoration: none;
    background-color: white;
    border-radius: 4px;
    transition: 0.3s;
}
.social-icons a:hover{
    color: white;
    background-color: black;
    border: 1px solid white;
}
.copyright-tag{
    font-size: 0.75rem;
}