*{
    margin: 0;
    padding:0;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tourney:ital,wght@0,100..900;1,100..900&display=swap');
html{
    font-size: 16px;
    scroll-behavior: smooth;
}
body{
    width: 100%;
    font-family: "Roboto", sans-serif;
    height: auto;
    background-image: linear-gradient(to bottom right,black 0%, rgb(100, 0, 165) 50%,black 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
hr{
    margin: 0px 5px 0px 5px;
    border:1px solid rgb(255, 125, 0);
}